.form {
  padding-top: 90px;
  padding-bottom: 140px;
  background-color: #E9EBF0;
  
  &__title {
    font-size: 70px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 13px;
    text-align: center;
  }
  
  &__subtitle {
    font-size: 22px;
    line-height: 1.2;
    text-align: center;
    margin: 0;
  }
  
  &__group {
    display: flex;
    justify-content: center;
    margin-top: 80px;
  }
  
  &__action {
    margin-top: 40px;
    position: relative;
    z-index: 10;
  }
  
  &__fields {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    
    .warning {
      color: #DC476E;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.1;
      margin-top: 12px;
      display: none;
    }
    
    &.error {
      .warning {
        display: block;
      }
      
      .input {
        border: 1px solid #DC476E;
      }
      
      .form__checkbox_text{
        &::before{
          border-color: #DC476E;
        }
      }
    }
  }
  
  &__input {
    background-color: #fff;
    border: 1px solid #B1C1D1;
    height: 62px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    outline: none;
    border-radius: 4px;
    width: 100%;
    color: #000;
    font-size: 24px;
    font-weight: 500;
  }
  
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #3075C3;
    padding-left: 16px;
    padding-right: 16px;
    height: 62px;
    width: 100%;
    border: none;
    border-radius: 4px;
    transition: all ease-in 0.2s;
    position: relative;
    overflow: hidden;
    font-weight: 500;
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 40px;
    
    &:hover {
      background-color: #3e82d0;
    }
    
  }
  
  &__checkbox {
    display: flex;
    
    &_input {
      display: none;
    }
    
    &_text {
      display: flex;
      font-size: 20px;
      font-weight: 500;
      color: #7C8A99;
      line-height: 1;
      cursor: pointer;
      align-items: flex-start;
      position: relative;
      
      
      &::before {
        content: "";
        width: 20px;
        height: 20px;
        border: 1px solid #B1C1D1;
        border-radius: 2px;
        flex-shrink: 0;
        margin-right: 15px;
      }
    }
    
    input:checked + &_text:after {
      content: "";
      width: 14px;
      height: 14px;
      border-radius: 2px;
      background-color: #B1C1D1;
      left: 4px;
      top: 4px;
      position: absolute;
    }
  }
  
}
input:focus {
  outline: none;
}

.tabs {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden;
  width: 100%;
  max-width: 422px;
}
.tabs [class^="tab"] .tab-label,
.tabs [class*=" tab"] .tab-label {
  color: #3075C3;
  cursor: pointer;
  display: block;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  padding-bottom: 13px;
  text-align: center;
  position: relative;
  
  &::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: #B1C1D1;
    transition: all 0.3s ease-in-out;
  }
  
  &:hover:before{
    background-color: #000;
  }
}


.tabs [class^="tab"] [type="radio"],
.tabs [class*=" tab"] [type="radio"] {
  display: none;
}

.tabs [class^="tab"] [type="radio"]:checked ~ .tab-label,
.tabs [class*=" tab"] [type="radio"]:checked ~ .tab-label{
  color: #000000;
  
  &:before{
    height: 4px;
    background-color: #000;
  }
}

.tabs [class^="tab"] [type="radio"]:checked ~ div,
.tabs [class*=" tab"] [type="radio"]:checked ~ div {
  display: block;
  width: 200%;
}

.tabs [class^="tab"] [type="radio"] ~ div,
.tabs [class*=" tab"] [type="radio"] ~ div {
  display: none;
}
.tabs .tab-2 {
  width: 50%;
}

.tabs .tab-2:last-child [type="radio"]:checked ~ div {
  margin-left: -100%;
}


@media (max-width: 480px) {
  .form{
    padding-top: 60px;
    padding-bottom: 60px;
    &__title{
      font-size: 34px;
      margin: 0 0 20px;
    }
    &__subtitle{
      font-size: 20px;
    }
  
    &__input{
      height: 56px;
      font-size: 20px;
    }
    
  }
}

@media (max-width: 320px) {
  .form{
    &__title{}
  }
}
