@import "normalize";

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueCyr-Bold.eot');
  src: local('Helvetica Neue Roman'), local('Helvetica Neue Roman'),
    url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueCyr-Bold.eot');
  src: local('Helvetica Neue Bold'), local('Helvetica Neue Bold'),
    url('../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  height: 100%;
}

body {
  background: #fff;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  min-height: 100vh;
  color: #141D2C;
}

body.clipped {
  overflow: hidden;
}

a {
  color: rgba(0, 117, 201, 1);
  text-decoration: none;
}

h1 {
  font-size: 70px;
  line-height: 75px;
  font-weight: 700;
}

body *,
body *::after,
body::before {
  box-sizing: border-box;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.action_button {
  padding: 16px 50px 17px;
  border: 0 none;
  background: #141D2C 0 0 no-repeat padding-box;
  color: #fff;
  border-radius: 5px;
  font-size: 25px;
  line-height: 32px;
  font-weight: 700;
}

.page_layout {
  width: 1396px;
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;
}

.logo_bks {
  background-image: url('../images/logo_white.svg');
  width: 141px;
  height: 30px;
  margin-top: 4px;
}

.logo_sibwell {
  background-image: url('../images/logo_sibwell_white.svg');
  width: 122px;
  height: 40px;
  margin-top: -8px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 0;
  @include clearfix;
  z-index: 200;

  &__logo {
    float: left;
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;

    &:first-child {
      margin-right: 73px;
    }

    &:first-child::after {
      position: absolute;
      top: 8px;
      right: -45px;
      content: "";
      width: 13px;
      height: 12px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
      background-image: url('../images/heart_white.svg');
    }
  }

  &__phone {
    float: right;
    width: 32%;
    color: #fff;
    font-size: 25px;
    line-height: 35px;
    font-weight: 700;
    text-decoration: none;
  }

  &__button {
    display: none;
  }
}

.header-fixed {
  position: fixed;
  background-color: rgba(248, 248, 248, 1);
  padding: 22px 0 23px;

  & .logo_bks {
    background-image: url('../images/logo.svg');

    &::after {
      background-image: url('../images/heart.svg');
    }
  }

  & .logo_sibwell {
    background-image: url('../images/logo_sibwell.svg');
  }

  & .header__phone {
    color: #141D2C;
    font-size: 20px;
    line-height: 35px;
    font-weight: 400;
    text-align: right;
    padding-right: 30px;
  }

  & .header__button {
    display: block;
    padding: 0 20px;
    font-size: 20px;
    line-height: 40px;
    float: right;
    margin-top: -4px;
    margin-bottom: -8px;
  }
}

.preambule {
  background-color: #0075C9;
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: auto 100%;
  background-image: url('../images/preambule.png');
  color: #fff;
  font-size: 30px;
  line-height: 35px;

  sub {
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    bottom: 0;
  }

  sup {
    left: 5px;
    font-size: 15px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 165px;
    min-height: 810px;
  }

  &__title {
    width: 60%;
    h1 {
      margin: 0;
      width: 610px;
    }
  }

  &__features {
    width: 32%;
    padding: 0;
    margin: 0;
    font-weight: 700;
    list-style-type: none;

    & strong {
      display: block;
      font-size: 70px;
      line-height: 75px;
      margin: 0 0 10px 0;
    }

    & span {
      display: block;
      font-size: 20px;
      line-height: 25px;
    }
  }

  &__feature:not(:last-child) {
    margin-bottom: 40px;
  }

  &__term {
    margin-top: 30px;
    font-size: 20px;
    line-height: 25px;
  }

  &__button {
    margin-top: 50px;
  }
}


.pluses {
  padding-top: 100px;

  &__features {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: outside;
    display: flex;
    flex-direction: row;
  }

  &__feature {
    width: 33.3333%;
  }

  &__feature-easy {
    span {
      max-width: 330px;
    }
  }

  &__feature-profit {
    span {
      max-width: 340px;
    }
  }

  &__feature_title {
    display: block;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 25px;
    color: #0075C9;
  }

  &__feature_description {
    display: block;
    font-size: 25px;
    line-height: 33px;
    padding-right: 80px;
  }
}

.how_it_works {
  padding-bottom: 150px;
  padding-top: 150px;


  &__title {
    font-size: 70px;
    line-height: 83px;
    font-weight: 700;
    margin: 0 0 50px;
  }

  &__steps {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__step {
    position: relative;
    width: 30%;

    &:first-child &_title {
      color: rgba(0, 117, 201, 1);
    }

    &:not(:last-child) {
      padding-right: 0;
    }

    &:not(:last-child)::after {
      position: absolute;
      top: 12px;
      right: 0;
      content: "";
      display: inline-block;
      width: 70px;
      height: 16px;
      vertical-align: 4px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
      background-image: url('../images/arrow.svg');
    }

    &_title {
      font-size: 30px;
      line-height: 35px;
      font-weight: 700;
      margin: 0 0 15px;
    }

    &_description {
      font-size: 20px;
      line-height: 23px;
      font-weight: 400;
    }

    &_request {
      margin-top: 24px;
      width: 100%;
      display: table;
    }
  }

  &__button {
    padding: 6px 30px 7px;
    font-size: 20px;
    line-height: 32px;
  }
}

.about_product {
  padding-top: 150px;

  &__card {
    position: relative;
    padding: 50px 60px 60px;
    margin-bottom: 30px;
    border-radius: 25px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url('../images/offer2.png');

    &:first-child {
      background-image: url('../images/offer.png');
    }

    &:last-child {
      margin-bottom: 0;
    }

    &_title {
      position: relative;
      font-size: 50px;
      line-height: 60px;
      font-weight: 700;
      color: #002B3B;
      margin: 0 0 50px;

      sup {
        font-size: 15px;
        line-height: 17px;
        font-weight: 400;
        top: -20px;
        left: 5px;
        opacity: 0.5;
      }
    }

    &_features {
      padding-right: 290px;
      list-style-type: none;
      list-style-position: outside;
      display: flex;
    }

    &_feature {
      padding-right: 50px;

      &:last-child {
        padding-right: 0;
      }

      strong {
        position: relative;
        font-size: 50px;
        line-height: 60px;
        color: #0075C9;

        sub {
          font-size: 11px;
          line-height: 13px;
          font-weight: 400;
          opacity: 0.4;
          position: absolute;
          bottom: 8px;
          left: 100%;
        }
      }

      span {
        display: inline-block;
        margin-top: 25px;
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
        color: #141D2C;
      }
    }
  }

  &__button {
    position: absolute;
    bottom: 64px;
    right: 60px;
    padding: 7px 20px 9px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    border-radius: 5px;
    background-color: #012A3B;
  }
}

.advantages {
  position: relative;
  padding-top: 100px;
  padding-bottom: 180px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1604px;
    width: 100%;
    background: transparent linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(230, 234, 239, 1) 100%) 0 0 no-repeat padding-box;
    z-index: -1;
  }

  sup {
    top: -12px;
    left: 5px;
    font-size: 15px;
    font-weight: normal;
  }

  &__title {
    font-size: 70px;
    line-height: 83px;
    font-weight: 700;
    margin: 0 0 70px;
  }

  &__items {
    list-style-type: none;
    list-style-position: outside;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    width: 20%;
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    padding-top: 100px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 80px;
      background-repeat: no-repeat;
      background-position: 0 50%;
      background-size: auto 100%;
    }

    &-deposit::after {
      background-image: url('../images/thumb.svg');
    }

    &-protection::after {
      background-image: url('../images/protection.svg');
    }

    &-license::after {
      background-image: url('../images/license.svg');
    }

    &-notebook::after {
      background-image: url('../images/notebook.svg');
    }
  }
}

.product_is {
  padding-top: 150px;
  padding-bottom: 200px;
  border-top: 1px solid #C9D3E0;

  &__title {
    font-size: 70px;
    line-height: 83px;
    font-weight: 700;
    margin: 0 0 50px;
  }

  &__description {
    text-align: left;
    font-size: 25px;
    line-height: 35px;
    display: flex;
    margin-bottom: 100px;

    strong {
      font-weight: 700;
    }

    p {
      margin: 0;
    }
  }

  &__video {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 20px;
    -webkit-box-shadow: 0 20px 40px 0 rgba(0, 43, 59, 0.2);
    box-shadow: 0 20px 40px 0 rgba(0, 43, 59, 0.2);

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.about {
  height: 900px;
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #0075C9;
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: auto 100%;
  background-image: url('../images/about.png');
  color: #fff;
  text-align: center;

  &__title {
    text-align: left;
    font-size: 60px;
    line-height: 75px;
    font-weight: 700;
    margin: 0 0 35px;
  }

  &__value {
    display: flex;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    justify-content: space-between;

    & p {
      width: 45%;
      margin: 0;
    }
  }
}

.footer {
  &__bcs {
    padding: 40px 0;
    @include clearfix;
    border-top: 1px solid #e6eaef;
  }

  &__logo {
    float: left;
    width: 222px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    background-image: url('../images/logo.svg');
  }

  &__phone {
    float: right;
    color: rgba(20, 29, 44, 1);
    font-size: 20px;
    line-height: 35px;
    font-weight: 400;
    text-decoration: none;
  }

  &__press {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 0;
    border-top: 1px solid #e6eaef;
    border-bottom: 1px solid #e6eaef;

    & .label {
      font-weight: 700;
      font-size: 25px;
      color: #333d48;
    }

    & a {
      text-decoration: none;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
    }

    & .mkru {
      width: 130px;
      height: 35px;
      background-image: url('../images/mkru.png');
    }

    & .prime {
      width: 150px;
      height: 40px;
      background-image: url('../images/prime.png');
    }

    & .gazeta {
      width: 210px;
      height: 28px;
      background-image: url('../images/gazeta.png');
    }

    & .rbk {
      width: 76px;
      height: 30px;
      background-image: url('../images/rbk.png');
    }

    & .lenta {
      width: 177px;
      height: 30px;
      background-image: url('../images/lenta.png');
    }
  }

  &__disclaimer {
    color: rgba(20, 29, 44, 1);
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    padding: 50px 0 63px;
    @include clearfix;

    & p {
      margin-top: 0;
    }

    & div {
      float: left;
      width: 50%;
      padding-right: 125px;
    }
  }

  &__contacts {
    display: none;
  }
}

.product_request {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 300;
  background: #f2f7fc;
  color: #1c1f2c;
  padding: 80px 0;
  overflow: auto;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-name: fadeOut;
  animation-duration: 0.1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;

  &-open {
    display: block;
  }

  &-loading>*:not(&__close) {
    opacity: 0;
  }

  &-loading::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &-loading::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url('../images/spinner.png');
    animation-name: rotate;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  &__title {
    margin: 0 0 50px;
    font-size: 70px;
    line-height: 90px;
    font-weight: 700;
    text-align: center;
  }

  &__form {
    width: 620px;
    padding: 0 100px;
    margin: 0 auto;

    .action_button {
      width: 100%;
    }
  }

  &__close {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    background-image: url('../images/close.svg');
    cursor: pointer;
    z-index: 102;
  }

  &__feature {
    text-align: left;
    position: relative;
    margin: 0;
    font-size: 20px;
    line-height: 25px;
    color: rgba(20, 29, 44, 1);

    &-not_buy {
      padding-top: 40px;
      margin: 40px 0 20px;
      width: 265px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 30px;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: contain;
        background-image: url('../images/basket.svg');
      }
    }
  }

  &__complete {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 80px;
    background-color: rgba(230, 234, 239, 1);
    text-align: center;
    z-index: 300;

    &-show {
      display: block;
    }

    &_close {
      position: absolute;
      width: 64px;
      height: 64px;
      top: 25px;
      right: 25px;
      cursor: pointer;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: contain;
      background-image: url('../images/close.svg');
    }

    &_title {
      font-size: 70px;
      line-height: 90px;
      font-weight: 700;
      margin: 0 0 50px;
    }

    &_paragraph {
      font-size: 30px;
      line-height: 35px;
      font-weight: 700;
      width: 416px;
      margin: 0 auto;
    }

    &_paragraph-info {
      position: relative;
      padding-top: 100px;
      margin-bottom: 146px;
    }

    &_paragraph-info::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 56px;
      height: 80px;
      margin-left: -28px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
      background-image: url('../images/phone-thin.svg');
    }

    &_paragraph-reset {
      color: rgba(0, 117, 201, 1);
      cursor: pointer;
    }
  }
}

.request_form {
  display: block;
  width: 100%;
  text-align: center;

  button {
    background-color: #0075C9;
  }

  &__field {
    text-align: left;

    input[type='text'],
    input[type='tel'] {
      width: 100%;
      font-family: 'Helvetica Neue', Arial, sans-serif;
      font-size: 25px;
      line-height: 30px;
      font-weight: 400;
      color: #333d48;
      padding: 16px 20px;
      margin-bottom: 20px;
      outline: 0 none;
      box-shadow: none;
      border-radius: 4px;
      border: 1px solid rgba(183, 198, 214, 1);
      background-color: #fff;
    }

    input[type='text']::-webkit-input-placeholder,
    input[type='tel']::-webkit-input-placeholder,
    input[type='text']::-moz-placeholder,
    input[type='tel']::-moz-placeholder,
    input[type='text']:-moz-placeholder,
    input[type='tel']:-moz-placeholder,
    input[type='text']:-ms-input-placeholder,
    input[type='tel']:-ms-input-placeholder {
      color: #798A9B;
      opacity: 1;
    }

    input[type='text']:focus,
    input[type='tel']:focus {
      border-color: #0072f2;
    }
  }

  &__agreement {
    position: relative;
    display: inline-block;
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    color: rgba(121, 138, 155, 1);
    text-align: left;
    margin: 20px 0 0;
  }

  &__agreement a {
    color: #8691aa;
    text-decoration: none;
  }
}

.request__field_err {
  display: block;
  color: #ef346d;
  padding-left: 24px;
  margin-top: -10px;
  margin-bottom: 20px;
}

.request__field-err input[type='text'],
.request__field-err input[type='tel'] {
  border-color: #ef346d;
}

.request_form__about_card {
  position: relative;
  display: inline-block;
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  color: rgba(121, 138, 155, 1);
  margin: 0 0 43px;
  text-align: left;
}

.request_form__field-card {
  position: relative;
  margin-top: 10px;
}

.request_form__field-card::before {
  content: "№";
  position: absolute;
  right: 100%;
  top: 18px;
  font-size: 25px;
  line-height: 29px;
  width: 26px;
  margin-right: 10px;
  text-align: center;
  color: #141D2C;
}

.tooltip {
  text-align: left;
  display: inline-block;

  &__legend {
    display: inline-block;
    color: #0075C9;
    border-bottom: 1px dotted #0075C9;
    cursor: pointer;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 100%;
    display: none;
    width: 458px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 10px 20px #798A9B4D;
    border: 1px solid #B7C6D6;
    font-size: 20px;
    line-height: 25px;
    padding: 20px;
    margin-left: 20px;
    transform: translate(0, -50%);
    z-index: 2;
  }

  &__content::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -16px;
    margin-top: -12px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 16px 12px 0;
    border-color: transparent #ffffff transparent transparent;
  }

  dl {
    margin: 0;
    color: #141D2C;
    font-size: 20px;
    line-height: 25px;
  }

  dt {
    margin: 0 0 10px;
  }

  dd {
    position: relative;
    margin: 0 0 10px;
    padding-left: 28px;
  }

  dd::before {
    content: "";
    position: absolute;
    left: 1px;
    top: 12px;
    width: 18px;
    border-top: 1px solid #141D2C;
  }

  dd:last-child {
    margin-bottom: 0;
  }
}

.tooltip-open {
  .tooltip__content {
    display: block;
  }
}

.tooltip-about_card {
  .tooltip__content dl::before {
    content: "";
    display: block;
    width: 320px;
    height: 200px;
    margin-bottom: 20px;

    background-color: #000;
    z-index: 2;
  }

  .tooltip__content::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    width: 29px;
    height: 29px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    background-image: url('../images/close.svg');
    z-index: 2;
  }
}

@import "mobile";
