@media (max-width: 480px) {
  section {
    overflow: hidden;
  }

  .page_layout {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .action_button {
    font-size: 18px;
    line-height: 32px;
    padding: 4px 20px;
    border-radius: 3px;
  }

  .header {
    &__logos {
      width: 100%;
    }

    &__logo {
      &:first-child {
        margin-right: 35px;

        &::after {
          top: 9px;
          right: -20px;
          width: 9px;
          height: 8px;
        }
      }
    }
  }

  .header-fixed {
    .logo_bks {
      margin-right: 0;

      &::after {
        content: none;
      }
    }

    .logo_sibwell {
      display: none;
    }
  }

  .preambule {
    background-image: none;
    background-size: contain;
    background-position: 50% 100%;
    font-size: 18px;
    line-height: 22px;

    &__title {
      width: 100%;
      font-size: 18px;
      line-height: 22px;

      h1 {
        width: 100%;
        font-size: 35px;
        line-height: 40px;
      }
    }

    &__inner {
      padding-top: 85px;
      flex-direction: column;
    }

    &__features {
      width: auto;
      padding: 30px 30px 50px;
      margin: 0 -30px;
      background-size: cover;
      background-position: 50% 100%;
      background-image: url('../images/preambule_mobile.png');

      strong {
        font-size: 50px;
        line-height: 60px;
      }
    }

    &__inner {
      height: auto;
    }

    &__button {
      margin-top: 30px;
      margin-bottom: 40px;
    }
  }

  .pluses {
    padding-top: 60px;

    &__features {
      flex-direction: column;
    }

    &__feature {
      width: 100%;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }

      & span {
        max-width: 100%;
      }
    }

    &__feature_title {
      font-size: 35px;
      line-height: 42px;
      margin-bottom: 10px;
    }

    &__feature_description {
      font-size: 18px;
      line-height: 23px;
      padding-right: 0;
    }
  }

  .how_it_works {
    font-size: 18px;
    line-height: 22px;
    border-top: 1px solid #C9D3E0;
    padding: 50px 0;

    &__title {
      font-size: 35px;
      line-height: 40px;
    }

    &__steps {
      flex-direction: column;
    }

    &__step,
    .advantages__item {
      width: 100%;
      display: block;
    }

    &__step {
      &_title {
        font-size: 25px;
        line-height: 30px;
      }

      &:not(:last-child) {
        padding-bottom: 95px;

        &::after {
          top: auto;
          left: -10px;
          right: auto;
          bottom: -32px;
          transform: rotate(90deg) translate(-100%, 100%);
        }
      }
    }

    .offer,
    .about,
    .advantages {
      padding-top: 80px;
    }
  }

  .about_product {
    position: relative;
    padding-top: 50px;
    padding-bottom: 30px;
    margin-bottom: -30px;
    width: 100%;
    overflow: hidden;
    display: flex;

    &__inner {
      position: relative;
      width: auto;
      padding: 0 10px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      transition: left 0.1s linear 0s;

      &.move {
        transition: none;
      }
    }

    &__indicators {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: center;

      div {
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: #DEF1FD;
        margin: 0 5px;
      }

      .current {
        background-color: #0075C9;
      }
    }

    &__card {
      width: 325px;
      padding: 20px 20px 50px;
      margin-right: 15px;
      margin-bottom: 0;
      background-image: url('../images/offer2_mobile.png');

      &:first-child {
        background-image: url('../images/offer_mobile.png');
      }

      &:last-child {
        margin-right: 0;
      }

      &_title {
        font-size: 25px;
        line-height: 30px;
        color: #141D2C;
        margin-bottom: 20px;
      }

      &_features {
        flex-direction: column;
        padding-right: 0;
      }

      &_feature {
        margin-top: 20px;

        span {
          display: block;
          margin-top: 5px;
          font-size: 18px;
          line-height: 21px;
        }
      }
    }

    &__button {
      position: relative;
      bottom: auto;
      right: auto;
      margin-top: 30px;
      padding: 7px 20px 9px;
      font-size: 20px;
      line-height: 24px;
      border-radius: 5px;
    }
  }

  .advantages {
    padding: 80px 0 50px;

    &::after {
      content: none;
    }

    &__title {
      font-size: 35px;
      line-height: 40px;
      margin-bottom: 30px;
    }

    &__items {
      flex-direction: column;
    }

    &__item {
      width: 100%;
      padding-top: 70px;
      font-size: 25px;
      line-height: 30px;

      &:not(:last-child) {
        margin-bottom: 30px
      }

      &::after {
        left: 0;
        right: auto;
        height: 50px;
      }

      &-deposit::after {
        background-image: url('../images/thumb_white.svg');
      }

      &-protection::after {
        background-image: url('../images/protection_white.svg');
      }

      &-license::after {
        background-image: url('../images/license_white.svg');
      }

      &-notebook::after {
        background-image: url('../images/notebook_white.svg');
      }
    }
  }

  .product_is {
    padding: 50px 0;

    &__inner {
      display: grid;
    }

    &__title {
      font-size: 35px;
      line-height: 40px;
      margin-bottom: 22px;
      width: auto;
      margin-right: -5px;
      order: 1;
    }

    &__description {
      display: block;
      margin-bottom: 0;
      order: 3;

      p {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__video {
      box-shadow: none;
      border-radius: 0;
      width: auto;
      margin: 30px -30px;
      order: 2;
    }
  }

  .about {
    padding-top: 50px;
    padding-bottom: 80px;
    height: 800px;
    background-image: url('../images/about-sm.png');

    &__title {
      font-size: 35px;
      line-height: 40px;
      margin-bottom: 22px;
    }

    &__value {
      flex-direction: column;
      padding: 0;
      font-size: 18px;
      line-height: 25px;

      p {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }

  .footer {
    &__press {
      margin: 0 -30px;
      padding: 50px 30px;
      flex-wrap: wrap;

      & .label {
        width: 100%;
        font-size: 35px;
        line-height: 42px;
      }

      & a {
        margin-top: 40px;
      }

      & a.gazeta {
        width: 100%;
      }
    }

    &__disclaimer {
      padding: 30px 0 74px;

      & div {
        float: none;
        width: 100%;
        padding-right: 0;
      }
    }

    &__contacts {
      display: block;
      padding: 30px 30px 50px;
      margin: 0 -30px;
      border-bottom: 1px solid #e6eaef;
    }

    &__phone {
      float: none;
      font-size: 40px;
      line-height: 48px;
      font-weight: 700;
      color: rgba(20, 29, 44, 1);
      display: block;
      text-align: center;
      margin-bottom: 20px;
    }

    &__address {
      font-size: 15px;
      line-height: 18px;
    }

    &__logo {
      width: 159px;
      height: 25px;
    }
  }

  .header__phone,
  .footer__bcs {
    display: none;
  }

  .product_request {
    height: 100%;
    padding: 35px 30px 70px;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;

    &__close {
      width: 49px;
      height: 49px;
      top: 7px;
      right: 7px;
    }

    &__title {
      margin: 0 0 21px;
      font-size: 35px;
      line-height: 42px;
      text-align: left;
    }

    &__form {
      width: 100%;
      padding: 0;
    }

    &__feature-not_buy {
      border-top: 1px solid rgba(208, 215, 226, 1);
      width: auto;
      margin: 0 -30px;
      padding-left: 79px;
      padding-right: 90px;
      padding-top: 30px;
      font-size: 15px;
      line-height: 18px;
      color: rgba(121, 138, 155, 1);

      &::before {
        top: 30px;
        left: 30px;
        width: 40px;
        height: 30px;
      }
    }
  }

  .product_request__complete {
    padding: 35px 30px 50px;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;

    &_close {
      width: 49px;
      height: 49px;
      top: 7px;
      right: 7px;
    }

    &_title {
      margin: 0 0 50px;
      font-size: 35px;
      line-height: 42px;
      text-align: left;
    }

    &_paragraph-info {
      width: 100%;
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 239px;

      &::before {
        left: 30px;
        background-position: 0 0;
      }
    }

    &_paragraph-reset {
      font-size: 18px;
      line-height: 25px;
    }
  }

  .request_form__field input[type='text'],
  .request_form__field input[type='tel'] {
    font-size: 18px;
    line-height: 24px;
    padding: 12px 15px;
    margin-bottom: 20px;
    border-radius: 3px;
  }

  .request__field_err {
    padding-left: 24px;
    margin-top: -10px;
    margin-bottom: 20px;
  }

  .request_form__agreement {
    font-size: 15px;
    line-height: 18px;
    color: rgba(121, 138, 155, 1);
    margin: 20px 0 30px;
  }
}

@media (max-width: 320px) {
  .page_layout {
    padding-right: 20px;
    padding-left: 20px;
  }

  .header {
    & .logo_bks {
      margin-right: 17px;

      &::after {
        content: none;
      }
    }
  }

  .preambule {
    &__title {
      h1 {
        font-size: 30px;
        line-height: 40px;
      }
    }
  }

  .about_product {
    &__inner {
      margin: 0 -10px;
    }

    &__card {
      width: 300px;
    }
  }

  .how_it_works {
    &__title {
      font-size: 30px;
      line-height: 40px;
    }
  }

  .product_is {
    &__video {
      margin-left: -20px;
      margin-right: -20px;
    }
  }

  .footer {
    &__press,
    &__contacts {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
    }

    &__phone {
      font-size: 36px
    }
  }
}

